@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import 'flowbite'; */

body{
  background-image: url(bg-img.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  /* background-color: aliceblue; */
}
